body {
	font-family: 'Vollkorn', arial, serif;
	font-size: 24px;
	line-height: 30px;
	color: #333;
}

h1 {
	position: fixed;
	bottom: 40px;
	left: 32px;
	font-style: italic;
}

	h1 a {
		font-size: 3em;
		color: #333;
		background-color: #ffffcc;
		text-decoration: none;
		font-weight: normal;
		border-bottom: solid #333 1px;
	}

#container {
	margin: 32px;
}

#header {
}

.block {
	float: left;
	margin: 0 48px 48px 0;
	width: 325px;
}

	.block h3 {
		margin-bottom: 16px;
		padding-bottom: 16px;
		border-bottom: double 3px #ccc;
	}

		.block h3 span {
			color: #333;
			background-color: #ffffcc;
			font-style: italic;
			font-weight: normal;
		}
		
		.block h3 span:after {
			content: ".";
		}

	.block p {
		text-align: justify;
		color: #777;
	}

