<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
	<head>
		<title>Tessera Laid Out</title>
		<style type="text/css">
			body { font-family: Helvetica, "Helvetica Neue", Arial, sans-serif; }
			#wrapper { width: 760px; margin: auto; }
			span.filename { font-family: monospace; }
		</style>
	</head>
	<body>
		<div id="wrapper">
			<h1>Tessera: Laid Out</h1>
			<p>You can also use bona fide layouts by setting <code>$this->layout</code> in your application.</p>
			<p>Check <span class="filename">test/views/layout.html</span> to see how the magic works.</p>
			<div style="background-color: #eeeeee; padding: 1em;">
				<?php echo $this->view_output; ?>
			</div>
		</div>
	</body>
</html>
		
